/*** uncss> filename: https://fonts.googleapis.com/css?family=Roboto+Slab ***/
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qA.ttf) format('truetype');
}
 
/*** uncss> filename: http://necomsproject.com/assets/css/styles.css ***/
div.wpcf7{
    margin:0;
    padding:0;
}
div.wpcf7-response-output{
    margin:2em 0.5em 1em;
    padding:0.2em 1em;
}
div.wpcf7 .screen-reader-response{
    position:absolute;
    overflow:hidden;
    clip:rect(1px,1px,1px,1px);
    height:1px;
    width:1px;
    margin:0;
    padding:0;
    border:0;
}
.wpcf7-form-control-wrap{
    position:relative;
}
.wpcf7-display-none{
    display:none;
}
 
/*** uncss> filename: http://necomsproject.com/assets/css/style.css ***/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header {
    display: block;
}

a {
    background: transparent;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

script {
    display: none!important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

@media (max-width: 569px) {
    html {
        margin-top: 0px;
    }
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    overflow: initial!important;
}

.box-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-container {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    position: relative;
}

.main-wrapper {
    width: 100%;
    height: 100%;
}

.hmenu .main-wrapper {
    display: table-row;
}

@media (max-width: 959px) {
    .main-container {
        padding-top: 0px!important;
    }
}

.sections-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.page-wrapper,
.page-body {
    display: table-row;
    width: 100%;
    height: 100%;
}

@media (max-width: 569px) {
    .mobile-hidden {
        display: none!important;
    }
}

@media (min-width: 570px) and (max-width: 959px) {
    .tablet-hidden {
        display: none!important;
    }
}

@media (min-width: 960px) {
    .desktop-hidden {
        display: none!important;
    }
}

.post-wrapper {
    margin: auto;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    outline: 0;
    border: 0;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 27px 0px 27px 0px;
    border: 0;
    border-top-width: 1px;
    border-style: solid;
}

hr.separator-no-padding {
    margin-top: 0px;
    margin-bottom: 0px;
}

.uncode_text_column>*:first-child {
    margin-top: 0px;
}

.body-borders>* {
    position: fixed;
    z-index: 11000;
}

.body-borders .body-border-shadow {
    -webkit-box-shadow: 0 0px 14px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0px 14px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.body-borders .top-border {
    top: 0;
    left: 0;
    width: 100%;
}

.body-borders .right-border {
    top: 0;
    right: 0;
    height: 100%;
}

.body-borders .bottom-border {
    bottom: 0;
    left: 0;
    width: 100%;
}

.body-borders .left-border {
    top: 0;
    left: 0;
    height: 100%;
}

h1,
h2,
h3 {
    -webkit-font-smoothing: antialiased;
}

h1,
.h1 {
    font-size: 35px;
    line-height: 1.2;
    margin: 27px 0 0;
}

@media (max-width: 339px) {
    h1,
    .h1 {
        font-size: 28px;
    }
}

h2,
.h2 {
    font-size: 29px;
    line-height: 1.2;
    margin: 27px 0 0;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 1.2;
    margin: 27px 0 0;
}

.h6 {
    font-size: 14px;
    line-height: 1.2;
    margin: 27px 0 0;
}

p,
li {
    font-size: 15px;
    line-height: 1.75;
    margin: 18px 0 0;
}

.site-footer li,
aside li {
    font-size: 14px;
}

p.text-top-reduced {
    margin-top: 9px;
}

ul {
    margin: 18px 0px 0px 0px;
    padding-left: 18px;
}

ul {
    padding: 0;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-weight-300,
.font-weight-300 *:not(strong):not(b) {
    font-weight: 300!important;
}

.font-weight-500,
.font-weight-500 *:not(strong):not(b) {
    font-weight: 500!important;
}

.row-inner {
    display: table-row;
}

@media (max-width: 959px) {
    .row-inner {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
}

.row {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
}

@media (max-width: 959px) {
    .row .row-internal {
        height: auto;
    }
}

.row .uncol {
    display: block;
    overflow: hidden;
    position: relative;
}

.row .uncoltable {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 959px) {
    .row .uncoltable {
        padding-top: 0!important;
    }
}

.row .uncell {
    display: table-cell;
    position: relative;
    height: 100%;
    vertical-align: inherit;
    border: 0;
}

.row .uncell.no-block-padding {
    padding: 0px 0px 0px 0px;
}

.row .uncont>* {
    position: relative;
}

.row div[class*=col-lg-].align_center>.uncol>.uncoltable>.uncell>.uncont {
    text-align: center;
}

.row div[class*=col-lg-].align_center>.uncol>.uncoltable>.uncell>.uncont .icon-media {
    margin-left: auto;
    margin-right: auto;
}

.row div[class*=col-lg-].align_left>.uncol>.uncoltable>.uncell>.uncont {
    text-align: left;
}

@media (max-width: 569px) {
    .row div[class*=col-lg-].align_left>.uncol>.uncoltable>.uncell>.uncont .btn {
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -o-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
    }
}

.row div[class*=col-lg-].align_left>.uncol>.uncoltable>.uncell>.uncont hr,
.row div[class*=col-lg-].align_left>.uncol>.uncoltable>.uncell>.uncont .icon-media {
    margin-right: auto;
    margin-left: 0;
}

.row div[class*=col-lg-].pos-left>.uncol>.uncoltable>.uncell>.uncont {
    margin: 0px;
}

.row div[class*=col-lg-].pos-center>.uncol>.uncoltable>.uncell>.uncont {
    margin: 0 auto;
}

.row div[class*=col-lg-].pos-right>.uncol>.uncoltable>.uncell>.uncont {
    margin-left: auto;
}

.row div[class*=col-lg-].pos-top,
.row div[class*=col-lg-].pos-top .uncell {
    vertical-align: top;
}

.row div[class*=col-lg-].pos-middle .uncell,
.row div[class*=col-lg-].pos-middle {
    vertical-align: middle;
}

.row div[class*=col-lg-].pos-bottom,
.row div[class*=col-lg-].pos-bottom .uncell {
    vertical-align: bottom;
}

@media (max-width: 959px) {
    .row div[class*=col-lg-] {
        padding: 36px 0px 0px 0px;
    }
}

.row div.column_child.align_left>.uncol>.uncoltable>.uncell>.uncont {
    text-align: left;
}

.row div.column_child.align_left>.uncol>.uncoltable>.uncell>.uncont hr {
    margin-right: auto;
    margin-left: 0;
}

.row div.column_child.pos-center>.uncol>.uncoltable>.uncell>.uncont {
    margin: 0 auto;
}

.row div.column_child.pos-top,
.row div.column_child.pos-top .uncell {
    vertical-align: top;
}

.row div.column_child.pos-bottom,
.row div.column_child.pos-bottom .uncell {
    vertical-align: bottom;
}

@media (max-width: 959px) {
    .row div.column_child {
        padding: 36px 0px 0px 0px;
    }
}

.row-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.row-background .background-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

@media (max-width: 959px) {
    .row-background .background-wrapper {
        -webkit-transform: none!important;
        -moz-transform: none!important;
        -o-transform: none!important;
        -ms-transform: none!important;
        transform: none!important;
        height: 100%!important;
    }
}

.row-background .background-wrapper .background-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: scroll;
}

@media (max-width: 1499px) {
    .row-background .background-wrapper .background-inner {
        background-size: cover;
    }
}

.single-block-padding {
    padding: 36px 36px 36px 36px;
}

.main-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.main-container .row {
    width: 100%;
    table-layout: fixed;
}

.main-container .row .uncol {
    overflow: visible;
}

@media (max-width: 959px) {
    .main-container .row .uncol {
        position: relative!important;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 959px) {
    .main-container .row .uncont {
        max-width: none!important;
        height: auto!important;
    }
}

@media (max-width: 959px) {
    .main-container .row.row-parent:not(.row-slider):not(.row-header) {
        height: auto!important;
    }
    .main-container .row.row-parent:not(.row-slider):not(.row-header) .row-child {
        height: auto!important;
    }
}

@media (max-width: 569px) {
    .main-container .row.row-parent:not(.no-h-padding) .column_parent>.uncol>.uncoltable>.uncell>.uncont,
    .main-container .row.row-parent:not(.no-h-padding) .column_child>.uncol>.uncoltable>.uncell>.uncont {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
}

.main-container .row .column_parent,
.main-container .row .column_child {
    clear: both;
}

.main-container .row-inner {
    position: relative;
    display: table;
    table-layout: fixed;
    height: 100%;
    min-width: 100%;
    width: auto;
}

.main-container .row-inner>div {
    padding: 0px 0px 0px 36px;
}

@media (max-width: 959px) {
    .main-container .row-inner>div:not([class*=col-md]) {
        padding: 36px 0px 0px 0px;
    }
    .main-container .row-inner>div:first-child:not([class*=col-md]) {
        padding-top: 0px;
    }
    .main-container .row-inner>div:only-child:not([class*=col-md]) {
        padding-top: 0px;
    }
    .main-container .row-inner>.mobile-hidden+div {
        padding: 0px 0px 0px 0px;
    }
}

@media (max-width: 569px) {
    .main-container .row-inner>div {
        padding: 36px 0px 0px 0px;
    }
    .main-container .row-inner>div:first-child {
        padding-top: 0px;
    }
    .main-container .row-inner>div:only-child {
        padding-top: 0px;
    }
}

@media (min-width: 960px) {
    .main-container .row-inner {
        margin-left: -36px;
    }
}

@media (min-width: 570px) and (max-width: 959px) {
    .main-container .cols-md-responsive {
        margin-left: -36px;
    }
    .main-container .cols-md-responsive>div[class*=col-md] {
        padding-left: 36px;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    .main-container .col-double-gutter>.cols-md-responsive {
        margin-left: -36px;
    }
    .main-container .col-double-gutter>.cols-md-responsive>div[class*=col-md] {
        padding-left: 36px;
    }
}

.main-container .row-container {
    position: relative;
    clear: both;
    border: 0;
}

.no-touch .main-container .row-container.with-parallax>div>.background-wrapper {
    height: 130%;
    height: calc(100% + 30vh);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
}

.main-container .row-container .row-parent {
    padding: 36px 36px 36px 36px;
}

.main-container .row-container .row-parent .half-internal-gutter .uncont>* {
    margin-top: 18px;
}

.main-container .row-container .row-parent .single-internal-gutter .uncont>* {
    margin-top: 36px;
}

.main-container .row-container .row-parent .double-internal-gutter .uncont>* {
    margin-top: 72px;
}

@media (max-width: 959px) {
    .main-container .row-container .row-parent .double-internal-gutter .uncont>* {
        margin-top: 54px;
    }
}

@media (max-width: 569px) {
    .main-container .row-container .row-parent .double-internal-gutter .uncont>* {
        margin-top: 36px;
    }
}

.main-container .row-container .row-parent .column_child.single-internal-gutter .uncont>*:not(:first-child) {
    margin-top: 36px;
}

.main-container .row-container .row-parent .uncont>*:first-child,
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper)>*:first-child:not(.isotope-wrapper):not(.index-wrapper),
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper)>*:first-child>*:first-child,
.main-container .row-container .row-parent .uncont>*:first-child:not(.divider-wrapper)>*:first-child:not(.isotope-wrapper):not(.index-wrapper)>*:first-child>*:first-child {
    margin-top: 0px!important;
}

.main-container .row-container>.row-parent:not(.row-slider) .row-child {
    padding: 0px!important;
}

@media (min-width: 960px) {
    .main-container .row-container>.row-parent .row-child>.row-inner>div {
        padding: 0px 0px 0px 36px;
    }
}

@media (min-width: 960px) {
    .main-container .row-container .row-child.col-double-gutter>.row-inner,
    .main-container .row-container .col-double-gutter>.row-inner {
        margin-left: -72px;
    }
}

@media (min-width: 960px) {
    .main-container .row-container .row-child.col-double-gutter>.row-inner>div,
    .main-container .row-container .col-double-gutter>.row-inner>div {
        padding-left: 72px;
        padding-right: 0px;
    }
}

.main-container .row-container:not(.limit-width) .no-h-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.main-container .row-container .no-top-padding {
    padding-top: 0px;
}

.main-container .row-container .no-bottom-padding {
    padding-bottom: 0px;
}

.main-container .row-container .single-top-padding {
    padding-top: 36px;
}

.main-container .row-container .single-h-padding {
    padding-left: 36px;
    padding-right: 36px;
}

.main-container .row-container .double-top-padding {
    padding-top: 72px;
}

.main-container .row-container .double-bottom-padding {
    padding-bottom: 72px;
}

.main-container .row-container .triple-top-padding {
    padding-top: 108px;
}

@media (max-width: 1699px) {
    .main-container .row-container .triple-top-padding {
        padding-top: 72px;
    }
}

@media (max-width: 1499px) {
    .main-container .row-container .triple-top-padding {
        padding-top: 54px;
    }
}

.main-container .row-container .triple-bottom-padding {
    padding-bottom: 108px;
}

@media (max-width: 1699px) {
    .main-container .row-container .triple-bottom-padding {
        padding-bottom: 72px;
    }
}

@media (max-width: 1499px) {
    .main-container .row-container .triple-bottom-padding {
        padding-bottom: 54px;
    }
}

.main-container .unequal.row,
.main-container .unequal.row>.row-inner>div>.uncol,
.main-container .unequal .row-internal {
    height: 100%;
}

@media (min-width: 570px) and (max-width: 959px) {
    html:not(.ie):not(.firefox) .main-container .cols-md-responsive {
        height: 100%!important;
    }
}

.col-lg-0 {
    padding: 27px 36px 27px 36px;
}

.col-lg-3,
.col-lg-6,
.col-lg-12 {
    padding: 36px 36px 36px 36px;
    display: block;
    height: auto;
    width: 100%;
    vertical-align: top;
    position: relative;
}

@media (min-width: 960px) {
    .col-lg-0,
    .col-lg-3,
    .col-lg-6,
    .col-lg-12 {
        display: table-cell;
        height: 100%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .row .uncoltable {
        min-height: 0!important;
    }
}

@media (min-width: 570px) and (max-width: 959px) {
    .col-md-100,
    .col-md-50,
    .col-md-33,
    .col-md-25 {
        display: inline-table;
        table-layout: fixed;
    }
    .col-md-100 {
        width: 100%;
    }
    .col-md-50 {
        width: 50%;
    }
    .col-md-33 {
        width: 33.33333333%;
    }
    .col-md-25 {
        width: 25%;
    }
}

.block-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

@media (max-width: 959px) {
    div[class*=vc_custom_] {
        margin-left: 0;
        border-left-width: 0!important;
        border-right-width: 0!important;
    }
}

form p {
    margin: 18px 0px 0px 0px;
    font-weight: 600;
}

input {
    display: block;
    font-size: 14px;
    line-height: initial;
    margin: 9px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-weight: normal;
    border: 1px solid transparent;
}

input:focus {
    outline: 0;
    border-style: solid;
}

input[type="submit"] {
    display: inline-block;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 12px;
    padding: 13px 31px 13px 31px;
    text-align: center!important;
    vertical-align: middle;
    background-image: none;
    border-radius: 2px;
    outline: none;
    white-space: nowrap;
    -webkit-text-stroke: 0px;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.style-dark ::-webkit-input-placeholder {
    color: #fff!important;
}

.style-dark :-ms-input-placeholder {
    color: #fff!important;
}

.style-dark ::-moz-placeholder {
    color: #fff!important;
}

input.wpcf7-form-control.wpcf7-submit.btn {
    margin: 0px 0px 0px 0px;
}

.wpcf7-inline-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 0px;
}

.wpcf7-inline-wrapper input {
    margin: 0px;
}

.wpcf7-inline-wrapper .wpcf7-inline-field {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0px 9px 0px 9px;
}

.wpcf7-inline-wrapper .wpcf7-inline-field input {
    text-align: left;
}

.wpcf7-inline-wrapper .wpcf7-inline-field input:not([type="checkbox"]),
.wpcf7-inline-wrapper .wpcf7-inline-field input:not([type="radio"]) {
    width: 100%;
}

.wpcf7-inline-wrapper .wpcf7-inline-field:first-child {
    padding-left: 0px;
}

.wpcf7-inline-wrapper .wpcf7-inline-field:last-child {
    padding-right: 0px;
}

.wpcf7-inline-wrapper .wpcf7-inline-field>* {
    margin-top: 0px!important;
}

.wpcf7-inline-wrapper.wpcf7-input-group {
    display: table;
    table-layout: auto;
}

.wpcf7-inline-wrapper.wpcf7-input-group p {
    padding: 0;
}

.wpcf7-inline-wrapper.wpcf7-input-group>*:first-child input {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.wpcf7-inline-wrapper.wpcf7-input-group>*:first-child input:not(.btn) {
    line-height: 1.65em;
    padding: 11px 15px 11px 15px;
    border-right: none!important;
}

.wpcf7-inline-wrapper.wpcf7-input-group>*:not(:first-child) input {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.wpcf7-inline-wrapper.wpcf7-input-group>*:not(:first-child) input:not(.btn) {
    line-height: 1.65em;
    padding: 11px 15px 11px 15px;
    border-left: none!important;
}

.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field {
    display: table-cell;
}

.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-text {
    width: 99%;
}

.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-btn {
    width: 1%;
}

.wpcf7-inline-wrapper.wpcf7-input-group .wpcf7-inline-field-btn input {
    width: auto;
    padding-left: 18px!important;
    padding-right: 18px!important;
}

input.wpcf7-submit {
    margin-top: 0;
}

.btn {
    display: inline-block;
    font-size: 12px;
    padding: 13px 31px 13px 31px!important;
    font-style: normal!Important;
    text-align: center;
    vertical-align: middle;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
    border-radius: 2px;
    outline: none;
    white-space: pre-wrap;
    -webkit-text-stroke: 0px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 569px) {
    .btn:not(input) {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -o-transform-origin: left;
        -ms-transform-origin: left;
        transform-origin: left;
    }
}

.btn .fa {
    position: relative;
    vertical-align: top;
    line-height: inherit;
}

.btn-container {
    display: block;
    margin-top: 18px;
}

*>.btn-container:first-of-type {
    padding-left: 0px;
}

*>.btn-container:last-of-type {
    padding-right: 0px;
}

.btn-icon-right .fa {
    margin-left: 9px;
}

.btn-circle {
    border-radius: 10em!important;
}

.btn-disable-hover {
    pointer-events: none!important;
}

.fa-container {
    display: inline-block;
    width: 100%;
    margin: 18px 0px 0px 0px;
}

.fa-stack {
    text-align: center;
    border-width: 1px!important;
}

.icon-box {
    display: table;
    width: 100%;
}

.icon-box.icon-inline {
    display: inline-table;
    table-layout: fixed;
    width: auto;
    text-align: center;
    vertical-align: bottom;
    margin-top: 0px!important;
    padding-left: 9px;
    padding-right: 9px;
}

.icon-box .icon-media {
    display: table;
    table-layout: fixed;
    vertical-align: top;
    height: 100%;
}

.icon-box .icon-media svg {
    width: 100%;
    height: auto;
}

div>.icon-box:first-child {
    padding-left: 0px!important;
}

div>.icon-box:last-child {
    padding-right: 0px!important;
}

.icon-box-top {
    table-layout: fixed;
}

.icon-box-top .fa-container {
    margin-top: 0px;
}

.icon-box-heading>* {
    line-height: 1.5em;
}

.empty-space {
    margin-top: 0!important;
}

.empty-space.empty-single {
    padding-top: 36px;
}

.uncode-single-media {
    line-height: 0px;
}

.uncode-single-media .single-wrapper {
    display: inline-block;
    width: 100%;
    position: relative;
}

.uncode-single-media.text-left .uncode-single-media-wrapper>div>* {
    display: block;
    margin-right: auto;
}

.uncode-single-media.text-right .uncode-single-media-wrapper>div>* {
    display: block;
    margin-left: auto;
}

.uncode-single-media .uncode-single-media-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 0px;
    overflow: hidden;
}

.uncode-single-media .uncode-single-media-wrapper.single-advanced {
    width: 100%;
}

.post-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

.post-wrapper .post-body {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.post-content>*:first-child,
.post-content>.row-container>.row-parent>*:first-child {
    margin-top: 0px;
}

.post-content img {
    max-width: 100%;
}

.boomapps_vcrow {
    z-index: 0;
}

@media (max-width: 959px) {
    form input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

@media (max-width: 959px) {
    .menu-primary .menu-borders {
        border-bottom-width: 0px;
        border-bottom-style: solid;
    }
}

@media (min-width: 960px) {
    .menu-primary .menu-borders {
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-bottom-style: solid;
        border-top-style: solid;
    }
}

@media (min-width: 960px) {
    .menu-shrink .logo-container #main-logo a>* {
        -webkit-transition: height 0.3s linear, font-size 0.3s linear;
        -moz-transition: height 0.3s linear, font-size 0.3s linear;
        -o-transition: height 0.3s linear, font-size 0.3s linear;
        transition: height 0.3s linear, font-size 0.3s linear;
    }
    .menu-shrink .logo-container {
        -webkit-transition: padding 0.3s linear;
        -moz-transition: padding 0.3s linear;
        -o-transition: padding 0.3s linear;
        transition: padding 0.3s linear;
    }
    header {
        width: 100%;
        z-index: 1000;
        position: relative;
    }
}

@media (max-width: 959px) {
    .menu-wrapper {
        position: relative;
        z-index: 1000;
    }
}

.menu-wrapper {
    display: table-row;
    width: 100%;
    position: relative;
    height: 1px;
}

.row-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 959px) {
    .row-menu {
        max-width: none!important;
    }
}

.row-menu-inner {
    width: 100%;
    background-clip: content-box!important;
    position: relative;
}

@media (min-width: 960px) {
    .row-menu-inner {
        display: table;
        height: 100%;
    }
}

.menu-container {
    overflow: visible;
    width: 100%;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.menu-wrapper.menu-sticky .menu-container {
    z-index: 2000;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.menu-hide.menu-container {
    -webkit-transition: -webkit-transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out, -moz-transform 0.5s ease-in-out, -o-transform 0.5s ease-in-out, transform 0.5s ease-in-out, background-color 0.4s ease-in-out;
}

.menu-container .navbar-brand * {
    line-height: 1em;
}

@media (max-width: 959px) {
    .menu-wrapper div[class*=col-lg-] {
        display: block;
    }
}

.menu-wrapper div[class*=col-lg-].middle {
    vertical-align: middle;
}

#main-logo {
    line-height: 0px;
    text-align: center;
    position: relative;
    z-index: 10;
    display: inline-block;
}

#main-logo a>* {
    margin: 0px;
    width: auto;
}

.logo-container .html-code {
    position: relative;
    text-align: left;
    height: 100%;
}

.logo-container .logo-image {
    position: relative;
    display: block;
}

#main-logo .navbar-brand img {
    width: auto;
    height: 100%;
    display: block;
    margin: auto;
}

.menu-container {
    float: none!important;
    z-index: 2;
}

.menu-container:before,
.menu-container:after {
    content: " ";
    display: table;
    table-layout: fixed;
}

.menu-container:after {
    clear: both;
}

.menu-container:before,
.menu-container:after {
    content: " ";
    display: table;
    table-layout: fixed;
}

.menu-container:after {
    clear: both;
}

.logo-container {
    line-height: 1px;
    vertical-align: top;
}

.logo-container>* {
    margin: 0 auto;
    line-height: normal;
}

@media (min-width: 960px) {
    body[class*=hmenu-]:not(.hmenu-center-split) .logo-container {
        padding-left: 0px!important;
    }
    .navbar-header img {
        max-width: none;
    }
    body:not(.hmenu-center) .menu-absolute {
        left: 0;
        right: 0;
        z-index: 1000;
        position: absolute;
    }
    .menu-wrapper .row-menu .row-menu-inner {
        padding: 0px 36px 0px 36px;
    }
}

@media (max-width: 959px) {
    .menu-container {
        z-index: 1000;
    }
    .menu-container .logo-container {
        position: relative;
        padding: 27px 36px 27px 36px!important;
    }
    #main-logo.navbar-header {
        display: inline-block;
    }
}

body .menu-button-offcanvas {
    display: inline-block;
}

@media (max-width: 959px) {
    .menu-hide {
        position: absolute;
        z-index: 1000;
    }
}

.mmb-container {
    float: right;
}

.mobile-menu-button {
    display: none;
    line-height: 0px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    padding: 27px 36px 27px 36px;
    cursor: pointer;
}

@media screen and (max-width: 959px) {
    .mobile-menu-button {
        display: inline-block;
        opacity: 1!important;
    }
}

.mobile-menu-button.menu-close-search {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    line-height: 20px;
}

.lines-button {
    transition: .3s;
}

.lines,
.lines:before,
.lines:after {
    display: inline-block;
    width: 20px;
    height: 2px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
}

.lines {
    position: relative;
}

.lines:before,
.lines:after {
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 10px center;
    transform-origin: 10px center;
}

.lines:before {
    top: 6px;
}

.lines:after {
    top: -6px;
}

.lines-button.x2.close .lines:before,
.lines-button.x2.close .lines:after {
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s 0.5s ease-in-out;
    -moz-transition: top 0.3s ease-in-out, -moz-transform 0.3s 0.5s ease-in-out;
    -o-transition: top 0.3s ease-in-out, -o-transform 0.3s 0.5s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s 0.5s ease-in-out, -moz-transform 0.3s 0.5s ease-in-out, -o-transform 0.3s 0.5s ease-in-out, transform 0.3s 0.5s ease-in-out;
    top: 0;
    width: 20px;
}

.lines-button.x2 .lines:before,
.lines-button.x2 .lines:after {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: top 0.3s 0.6s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: top 0.3s 0.6s ease-in-out, -moz-transform 0.3s ease-in-out;
    -o-transition: top 0.3s 0.6s ease-in-out, -o-transform 0.3s ease-in-out;
    transition: top 0.3s 0.6s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.lines-button.x2.close .lines {
    transition: background 0.3s 0s ease-in-out;
    background: transparent!important;
}

.lines-button.x2.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    -moz-transform: rotate3d(0, 0, 1, 45deg);
    -o-transform: rotate3d(0, 0, 1, 45deg);
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.lines-button.x2.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -moz-transform: rotate3d(0, 0, 1, -45deg);
    -o-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.isotope-system:not(.index-single) .isotope-container {
    opacity: 0;
}

.isotope-wrapper {
    position: relative;
}

.isotope-wrapper:before {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    content: "";
}

.isotope-wrapper.double-gutter .isotope-layout {
    margin-right: -72px;
}

@media (max-width: 959px) {
    .isotope-wrapper.double-gutter .isotope-layout {
        margin-right: -36px;
    }
}

.isotope-wrapper.double-gutter {
    margin-top: -72px!important;
}

@media (max-width: 959px) {
    .isotope-wrapper.double-gutter {
        margin-top: -36px!important;
    }
}

.isotope-layout {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

.double-gutter .tmb {
    padding-right: 72px;
}

@media (max-width: 959px) {
    .double-gutter .tmb {
        padding-right: 36px;
    }
}

.tmb .t-inside {
    background-clip: content-box;
}

.no-touch .isotope-container .tmb .t-inside {
    opacity: 0;
}

.double-gutter:not(.owl-carousel-container) .tmb .t-inside {
    margin-top: 72px;
}

@media (max-width: 959px) {
    .double-gutter:not(.owl-carousel-container) .tmb .t-inside {
        margin-top: 36px;
    }
}

.el-text {
    margin: 18px 0px 0px 0px;
    clear: both;
}

.heading-text.el-text>*:first-child {
    margin-top: 0!important;
    display: inline-block;
}

.heading-text.el-text>*:last-child {
    margin-bottom: 0!important;
}

.el-text>*>span {
    display: block;
}

.el-text+.clear {
    margin-top: 0!important;
}

.header-wrapper {
    -webkit-transition: height 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s ease-out 0.2s!important;
    -moz-transition: height 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s ease-out 0.2s!important;
    -o-transition: height 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s ease-out 0.2s!important;
    transition: height 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s ease-out 0.2s!important;
}

.header-wrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header-wrapper .heading-text>*:first-child {
    margin-top: 0!important;
}

.header-wrapper .heading-text:not(.heading-bigtext) {
    display: inline-block;
}

.header-wrapper .column_parent {
    height: 100%!important;
}

.header-wrapper:not(.header-only-text):before {
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: -19px;
    content: "";
    z-index: 1;
    opacity: 1;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@media (min-width: 960px) {
    #page-header {
        display: table-row;
        width: 100%;
    }
}

#page-header .header-wrapper .row-container>.row-background {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#page-header .header-wrapper .row-parent {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

@media (max-width: 959px) {
    #page-header .row .uncol {
        padding-top: 0!important;
    }
}

#page-header[data-imgready="true"] .header-wrapper:not(.header-only-text):before {
    opacity: 0;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

#page-header[data-imgready="true"] .header-wrapper>* {
    opacity: 1;
}

#page-header[data-imgready="true"] .header-wrapper .row-container>.row-background {
    opacity: 1;
}

.tmb a.inactive-link {
    pointer-events: none;
    cursor: default;
}

.tmb>.t-inside {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tmb-no-bg.tmb>.t-inside {
    background: none;
}

.tmb>.t-inside hr {
    margin-top: 18px;
    margin-bottom: 18px;
}

.tmb .t-entry-text-tc:not(.no-block-padding) .t-entry>*:first-child {
    margin-top: 0px!important;
}

.tmb .t-entry-visual {
    position: relative;
    overflow: hidden;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
}

.tmb .t-entry-visual .pushed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tmb .t-entry-visual img {
    width: 100%;
    max-width: none;
    z-index: 1;
    position: relative;
    display: block;
}

.tmb .t-entry-visual .t-entry-visual-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.tmb .t-entry-visual .t-entry-visual-overlay .t-entry-visual-overlay-in {
    width: 100%;
    height: 100%;
}

:not(.tmb-overlay-showed).tmb .t-entry-visual .t-entry-visual-overlay {
    opacity: 0;
}

.tmb .t-entry-visual .t-overlay-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.tmb .t-entry-visual .t-overlay-inner {
    display: table;
    table-layout: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tmb .t-entry-visual .t-overlay-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.tmb-overlay-text-left.tmb .t-entry-visual .t-overlay-content {
    text-align: left;
}

.tmb .t-entry-visual .t-overlay-text {
    display: inline-block;
    margin: 0 auto;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out, -moz-transform 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, -o-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -moz-transform 0.2s ease-in-out, -o-transform 0.2s ease-in-out, transform 0.2s ease-in-out;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.tmb .t-entry-text {
    -webkit-backface-visibility: hidden;
    text-align: left;
}

.tmb-content-left.tmb .t-entry-text {
    text-align: left;
}

.tmb-content-left.tmb .t-entry-text hr {
    margin-right: auto!important;
    margin-left: 0!important;
}

.tmb-no-bg.tmb .t-entry-text .t-entry-text-tc {
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
}

.tmb .t-entry-text .t-entry-text-tc .t-entry>*:not(hr):last-child {
    width: 100%;
}

.tmb .t-entry {}

:not(.tmb-post).tmb .t-entry>*:not(hr) {
    margin: 9px 0px 0px 0px;
}

.tmb .t-entry .t-entry-title {
    word-break: break-word;
}

.tmb .t-entry p.t-entry-meta {}

.tmb .t-entry p.t-entry-meta span {
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.tmb .t-entry p.t-entry-meta span:first-child {
    margin: 0px 0px 0px 0px;
}

.tmb .t-entry-excerpt>p:first-child {
    margin-top: 0;
}

.tmb .dummy {
    margin-top: -1px;
}

@media (min-width: 960px) {
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.5s 0.5s, visibility 0s 1s;
        transition: opacity 0.5s 0.5s, visibility 0s 1s;
    }
    .overlay.overlay-search {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .overlay.overlay-search .mmb-container {
        top: 0px;
        z-index: 10001;
    }
}

@media (max-width: 959px) {
    .overlay.overlay-search {
        display: none;
    }
}

html {
    position: inherit;
}

.widget-container {
    margin: 54px 0px 0px 0px;
}

.widget-container:first-child {
    margin-top: 0;
}

.widget-container .widget-title {
    word-break: break-word;
    padding: 0px 0px 27px 0px;
    margin: 0px 0px 27px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 0;
}

footer .widget-container .widget-title {
    border: 0;
    padding: 0;
    margin: 0px 0px 36px 0px;
}

.widget-container ul li {
    padding: 0px 0px 5px 0px;
}

.widget-container ul li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.widget-container .tagcloud {
    margin: 18px 0px 0px 0px;
}

.widget-container.widget_recent_entries li {
    padding-left: 18px;
    position: relative;
}

.widget-container.widget_recent_entries li:before {
    font-family: "uncodeicon";
    content: "\e664";
    position: absolute;
    font-size: 8px;
    left: 0px;
    top: 4px;
}

footer .widget-container.widget_recent_entries li:before {
    content: '';
}

footer .widget-container.widget_recent_entries li {
    padding-left: 0;
}

footer {
    display: table-row;
    width: 100%;
    height: 1px;
}

footer .footer-last {
    font-size: 13px;
}

footer .footer-last .icon-box.icon-inline {
    line-height: 13px;
    padding-left: 9px;
    padding-right: 9px;
}

@media (max-width: 959px) {
    footer .footer-last {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    footer .footer-last .uncell {
        display: block;
        text-align: center;
    }
    footer .footer-last .uncell+.uncell {
        padding-top: 0;
    }
}

footer .footer-last .uncell {
    padding-top: 27px;
    padding-bottom: 27px;
}

footer .footer-last .uncell>*:first-child {
    margin-top: 0;
}

footer .footer-last:not(.footer-center) .social-icon i {
    font-size: 18px;
}

.footer-scroll-top {
    z-index: 100;
    display: none;
    position: fixed;
    right: 22px;
    bottom: 22px;
}

.footer-scroll-top:not(.window-scrolled) {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.hide-scrollup .footer-scroll-top {
    display: block;
}

.footer-scroll-top i {
    border-radius: 2px;
    width: 2em;
    height: 2em;
    line-height: 2em;
}

html:not(.no-cssanimations) .animate_when_almost_visible {
    opacity: 0;
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    -o-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

html:not(.no-cssanimations) .animate_when_almost_visible.start_animation:not(.zoom-reverse).bottom-t-top {
    -webkit-animation-name: anim_btt;
    -moz-animation-name: anim_btt;
    -o-animation-name: anim_btt;
    animation-name: anim_btt;
    opacity: 1;
}

html:not(.no-cssanimations) .animate_when_almost_visible.start_animation:not(.zoom-reverse).left-t-right {
    -webkit-animation-name: anim_ltr;
    -moz-animation-name: anim_ltr;
    -o-animation-name: anim_ltr;
    animation-name: anim_ltr;
    opacity: 1;
}

html:not(.no-cssanimations) .animate_when_almost_visible.start_animation:not(.zoom-reverse).right-t-left {
    -webkit-animation-name: anim_rtl;
    -moz-animation-name: anim_rtl;
    -o-animation-name: anim_rtl;
    animation-name: anim_rtl;
    opacity: 1;
}

@-webkit-keyframes anim_btt {
    0% {
        -webkit-transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes anim_btt {
    0% {
        -moz-transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-o-keyframes anim_btt {
    0% {
        -o-transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes anim_btt {
    0% {
        transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes anim_ltr {
    0% {
        -webkit-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes anim_ltr {
    0% {
        -moz-transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0);
        opacity: 1;
    }
}

@-o-keyframes anim_ltr {
    0% {
        -o-transform: translate3d(-100px, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes anim_ltr {
    0% {
        transform: translate3d(-100px, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes anim_rtl {
    0% {
        -webkit-transform: translate3d(100px, 0, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-moz-keyframes anim_rtl {
    0% {
        -moz-transform: translate3d(100px, 0, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-o-keyframes anim_rtl {
    0% {
        -o-transform: translate3d(100px, 0, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes anim_rtl {
    0% {
        transform: translate3d(100px, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
} 
/*** uncss> filename: http://necomsproject.com/assets/css/custom.css ***/
.logo-text {
    font-size: 22px !important;
    width: 250px !important;
    display: inline-block !important;
}

.logo-image {
    height: 40px !important;
    display: inline-block !important;
    margin-bottom: -11px !important;
    margin-right: 10px !important;
} 
/*** uncss> filename: http://necomsproject.com/assets/css/style-custom-color-210407.css ***/

.style-color-wayh-bg {
    background-color: #141618;
}

.style-color-rgdb-bg {
    background-color: #1b1d1f;
}

.btn-color-prif {
    color: #ffffff!important;
    background-color: #303133!important;
    border-color: #303133!important;
}

.btn-color-prif:not(.btn-hover-nobg):hover,
.btn-color-prif:not(.btn-hover-nobg):focus {
    background-color: transparent!important;
    border-color: #303133!important;
}

.btn-color-prif:not(.btn-hover-nobg):not(.btn-text-skin):hover,
.btn-color-prif:not(.btn-hover-nobg):not(.btn-text-skin):focus {
    color: #303133!important;
}

.btn-color-prif.btn-outline {
    background-color: transparent!important;
    border-color: #303133!important;
}

.btn-color-prif.btn-outline:not(.btn-text-skin) {
    color: #303133!important;
}

.btn-color-prif.btn-outline:not(.btn-hover-nobg):hover,
.btn-color-prif.btn-outline:not(.btn-hover-nobg):focus {
    background-color: #303133!important;
    border-color: #303133!important;
}

.btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):hover,
.btn-color-prif.btn-outline:not(.btn-hover-nobg):not(.btn-text-skin):focus {
    color: #ffffff!important;
}

.text-color-prif-color {
    color: #303133!important;
    fill: #303133!important;
}

.style-color-xsdn-bg {
    background-color: #ffffff;
}

.style-color-lxmt-bg {
    background-color: #f7f7f7;
}

.border-color-gyho-color {
    border-color: #eaeaea!important;
}

.style-accent-bg {
    background-color: #1080d0;
}

.btn-accent {
    color: #ffffff!important;
    background-color: #1080d0!important;
    border-color: #1080d0!important;
}

.btn-accent:not(.btn-hover-nobg):hover,
.btn-accent:not(.btn-hover-nobg):focus {
    background-color: transparent!important;
    border-color: #1080d0!important;
}

.btn-accent:not(.btn-hover-nobg):not(.btn-text-skin):hover,
.btn-accent:not(.btn-hover-nobg):not(.btn-text-skin):focus {
    color: #1080d0!important;
}

.text-accent-color {
    color: #1080d0!important;
    fill: #1080d0!important;
}

.style-light-bg {
    background-color: #ffffff;
}

.style-dark-bg {
    background-color: #141618;
}

.font-180609 {
    font-family: "Roboto Slab", serif !important;
}

.fontspace-781688 {
    letter-spacing: -0.02em;
}

p,
li {
    font-size: 15px;
}

h1:not([class*="fontsize-"]),
.h1:not([class*="fontsize-"]) {
    font-size: 35px;
}

h2:not([class*="fontsize-"]),
.h2:not([class*="fontsize-"]) {
    font-size: 29px;
}

h3:not([class*="fontsize-"]),
.h3:not([class*="fontsize-"]) {
    font-size: 24px;
}

.h6:not([class*="fontsize-"]) {
    font-size: 14px;
}

body {
    font-weight: 400;
    font-family: "Roboto Slab", serif;
}

body,
.row-inner div[class*=col-lg-] {
    font-size: 14px;
}

::selection {
    background: #1080d0;
    color: #fff!important;
}

::-moz-selection {
    background: #1080d0;
    color: #fff!important;
}

.style-light {
    color: #777777;
}

.style-dark {
    color: #ffffff;
}

.style-dark a {
    color: #ffffff;
}

.style-light a {
    color: #303133;
}

.style-dark a:not(.btn-text-skin):hover,
.style-dark a:not(.btn-text-skin):focus {
    color: #1080d0;
}

.style-light a:not(.btn-text-skin):hover,
.style-light a:not(.btn-text-skin):focus,
.style-light .tmb .t-entry-text .t-entry-title a:hover,
.style-light .tmb .t-entry-text .t-entry-title a:focus {
    color: #1080d0;
}

h1,
h2,
h3,
.tmb .t-entry .t-entry-title {
    font-weight: 600;
}

.style-dark h1,
.style-dark h3,
.style-dark .widget-container.widget_recent_entries li:before {
    color: #ffffff;
}

.style-light h2,
.style-light h3,
.style-light form p {
    color: #303133;
}

input[type="submit"],
.btn {
    font-weight: 600!important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

input:focus,
input[type="submit"] {
    border-width: 1px;
}

.style-dark hr,
.style-dark .widget-container .widget-title {
    border-color: rgba(255, 255, 255, 0.25);
}

.style-light hr,
.style-light input {
    border-color: #eaeaea;
}

.style-light input[type="submit"] {
    background-color: #f7f7f7;
}

.style-light input {
    background-color: #ffffff;
}

.style-light .btn-default {
    color: #fff!important;
    background-color: #303133!important;
    border-color: #303133!important;
}

@media (min-width: 960px) {
    .overlay.style-dark-bg {
        background-color: rgba(20, 22, 24, 0.95)!important;
    }
}

.style-light input:not([type='submit']):not([type='button']):not([type='number']):not([type='checkbox']):not([type='radio']):focus {
    border-color: #1080d0;
}

input {
    -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
}

input {
    -webkit-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main-wrapper a {
    -webkit-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86), background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-light .menu-borders {
    border-color: rgba(234, 234, 234, 0.5);
}

@media (max-width: 959px) {
    .menu-light .row-menu .row-menu-inner {
        border-bottom: 1px solid rgba(234, 234, 234, 0.5);
    }
}

@media (min-width: 960px) {
    .menu-transparent.menu-light .menu-borders {
        border-color: rgba(234, 234, 234, 0.5);
    }
    .style-dark-override:not(.is_stuck).menu-transparent .menu-borders {
        border-color: rgba(255, 255, 255, 0.15)!important;
    }
}

@media (min-width: 960px) {
    body:not(.menu-overlay) .menu-wrapper:not(.no-header) .menu-transparent:not(.is_stuck).menu-transparent.style-light-original {
        opacity: 0;
    }
    .menu-wrapper:not(.no-header) .menu-transparent:not(.is_stuck).menu-transparent.style-light-original>* {
        background: transparent;
        background-color: rgba(255, 255, 255, 0);
    }
}

.mobile-menu-button-dark .lines,
.mobile-menu-button-dark .lines:before,
.mobile-menu-button-dark .lines:after {
    background: #ffffff;
}

.mobile-menu-button-light .lines,
.mobile-menu-button-light .lines:before,
.mobile-menu-button-light .lines:after {
    background: #303133;
}

@media (min-width: 960px) {
    .style-dark-override:not(.is_stuck).menu-transparent .lines,
    .style-dark-override:not(.is_stuck).menu-transparent .lines:before,
    .style-dark-override:not(.is_stuck).menu-transparent .lines:after {
        background: #ffffff;
    }
}

.style-light .navbar-brand .logo-skinnable {
    color: #303133;
}

@media (min-width: 960px) {
    .style-dark-override:not(.is_stuck).menu-transparent .navbar-brand .logo-skinnable, .mmb-container {
        color: #ffffff;
    }
}

@media (max-width: 450px) {
    .logo-text {
        margin: 28px !important;
    }

    .mmb-container {
        margin-bottom: 20px;
    }
}

.tmb-light.tmb .t-entry-visual *,
.tmb-light.tmb .t-entry-visual a {
    color: #fff;
}

.tmb-light.tmb .t-entry-text .t-entry-title a,
.tmb-light.tmb .t-entry-text .t-entry-title,
.tmb-light.tmb-content-under.tmb .t-entry p.t-entry-meta span {
    color: #303133;
}

.tmb-light.tmb .t-entry-text,
.tmb-light.tmb .t-entry-text p {
    color: #777777;
}

.tmb-light.tmb .t-entry-text hr {
    border-color: #eaeaea;
}
